footer {
    background-color: rgb(93, 93, 93);
    color: #fff;
    margin-top: 100px;
}


#my_pagination .pagination{

    text-align: center !important;
    display: block;
}

.pagination li{
    display: inline;
}

.pagination li .active{

}
.pagination a{

}

.pagination li .active a{

}